<template>
    <div class="">
        <div class="chart-container" style="position: relative; width:30vw">
            <canvas id="jsonChart"></canvas>
        </div>
        <div class="chart-container" style="position: relative; width:30vw">
            <canvas id="serverChart"></canvas>
        </div>
    </div>
</template>

<script>
import Chart from 'chart.js/auto';
import axios from 'axios'
import JsonDataset from '../../files/test.json'
export default {
    name: 'dashboard',
    data: _ => ({
        jsonDataset: JsonDataset
    }),
    created() {
        this.getChartData()
    },
    mounted() {
        this.generateChart('jsonChart', JsonDataset.labels, JsonDataset.data)
    },
    methods: {
        async getChartData () {
            await axios.get('api/data')
                .then(response => {
                    if (response.status === 200) this.generateChart('serverChart', response.data.labels, response.data.data)
                })
                .catch(e => {
                    console.log(e)
                })
        },
        generateChart (id, labels, data) {
            const chart = document.getElementById(id)
            let chartCtx = chart.getContext("2d")
            chartCtx.translate(0.5, 0.5)
            chartCtx.imageSmoothingEnabled = false
            this.draw(chartCtx, labels, data)
        },
        draw (el, labels, data) {
            let myChart = new Chart(el, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                            label: 'My First dataset',
                            data: data,
                            backgroundColor: 'rgb(229,229,229)',
                            borderColor: 'rgb(220,220,220)',
                            borderWidth: 2,
                            yAxisID: 'bar-y-axis1'
                        }
                    ]
                },
                options: {
                    indexAxis: 'y',
                    responsive: true,
                    scales: {
                        x: {
                            beginAtZero: true,
                            ticks: {
                                stepSize: 50
                            }
                        }
                    }
                }
            });
        },
    }
}
</script>
